<div class="col-md-10 col-md-offset-1">
  <section class="content-header">
    <h1><%= t '.title' %></h1>
  </section>
  <section class="content">
    <%= render 'attendances_content', user: @user, attendances: @attendances %>
  </section>
</div>
