<div class="col-md-10 col-md-offset-1">
  <section class="content-header">
    <h1>Dashboard</h1>
  </section>
  <section class="content">
    <% if current_user.has_total_scope? %>
        <%= render 'dashboard_content', users: @users %>
    <% else %>
        <%= render 'attendances_content', user: @user, attendances: @attendances %>
    <% end %>
  </section>
</div>
