<div class="col-md-10 col-md-offset-1">
  <section class="content-header">
    <h1>Dashboard</h1>
  </section>
  <section class="content">
    <%= render 'dashboard_content', users: @users %>
  </section>
</div>
